/*重複しているスタイルがある場合の優先順位

1-index.css
2-各ファイル専用のcss
3-common.css

※下に行くほど高い
*/
#deviceready {
  background-color: rgba(146, 146, 148, 1);
}
#header,
#footer {
  text-align: center;

  background: #00fcfc;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  z-index: 1;
  height: 50px;
  line-height: 50px;
}
#header {
  background-color: #999;
}

#main {
  margin: 82px 0px;
  /*overflow: auto;*/
  background-color: #ccc;
  background-size: 100% auto;
}

#footer {
  background-color: #eee;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px auto 50px;
}

/*一般機能*/

/*buttonなど以外の要素をタップできるようにするios用*/
.btn-simple {
  cursor: pointer;
}
.btn-simple:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-bottom: none;
}

li {
  list-style: none;
  /*clear: right;*/
}

.btn-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
  cursor: pointer;
}
.btn-shadow:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: none;
}
