#test {
  border: solid 5px #000000;
}

ul {
  list-style: none;
  border-bottom: 1px solid #d3d3d3;
  text-align: left;
}

li {
  margin-left: -40px;
  padding: 5px;
  padding-top: 10px;
  min-height: 50px;
  border-top: 1px solid #d3d3d3;
  font-size: 0.9em;
}

.bt {
  cursor: pointer;
}

.device-info {
  text-align: center;
}
